    <div class="item active">
        <!-- mapApiUrl div -->
        <div class="text-center map-div" id="map1_div"><img class="map" src="<%= mapApiUrl%>" /></div>
        <!-- elevationData chart -->
        <div class="text-center elev-chart" id="chart1_div"></div>
        <!-- Distance / Change in Elevation / Time div -->
        <div class="carousel-caption caption">
            <h3>Route <%=i + 1%></h3>
            <ul>
                <li class="carousel-list">Distance: <span class="distance-result-1"><%= distance%></span></li>
                <li class="carousel-list">Time: <span class="time-result-1"><%= duration%></span></li>
            </ul>
        </div>
    </div>
    <div class="item">
        <!-- mapApiUrl div -->
        <div class="text-center map-div" id="map2_div"><img class="map" src="http://via.placeholder.com/320x320" /></div>
        <!-- elevationData chart -->
        <div class="text-center elev-chart" id="chart2_div"></div>
        <!-- Distance / Change in Elevation / Time div -->
        <div class="carousel-caption caption">
            <h3>Route 2</h3>
            <ul>
                <li class="carousel-list">Distance: <span class="distance-result-2">X</span></li>
                <li class="carousel-list">Time: <span class="time-result-2">X</span></li>
            </ul>
        </div>
    </div>
    <div class="item">
        <!-- mapApiUrl div -->
        <div class="text-center map-div" id="map3_div"><img class="map" src="http://via.placeholder.com/320x320" /></div>
        <!-- elevationData chart -->
        <div class="text-center elev-chart" id="chart3_div"></div>
        <!-- Distance / Change in Elevation / Time div -->
        <div class="carousel-caption caption">
            <h3>Route 3</h3>
            <ul>
                <li class="carousel-list">Distance: <span class="distance-result-3">X</span></li>
                <li class="carousel-list">Time: <span class="time-result-3">X</span></li>
            </ul>
        </div>
    </div>