<!DOCTYPE html>
<html>
<head>
	<title>cycSlope</title>
	<script type="text/javascript">
		var revisited = <%= revisited %>
		console.log(revisited)
	</script>

	<% include head %>
</head>
<body>

	<% include navbar %>
	<% include login-modal %>
	<% include register-modal %>

<div class="video-overlay">
	<div class="pages">


		<div class="page1">
			<div class="container">
				<div class="col-xs-12 text-center logo">
					<img src="../images/cycSlope_white.png" width="450px" />
				</div>
				<div class="col-xs-12 text-center search-area">
					<form action="/" method="post">
						<div>
							<input class="search-bar" id="start-search" name="startPoint" type="text" placeholder="Start" />
							<input class="search-bar" id="end-search" name="endPoint" type="text" placeholder="End" />
						</div>
						<div>
							<button class="btn-lg btn-default go-button" type="submit">Let's Ride</button>
						</div>
					</form>	
				</div>

				<video id="bgvid" playsinline autoplay muted>
					<source src="../videos/bike-bg.mp4" type="video/mp4">
				</video>

			</div>
		</div>

		<div class="page2">
			<div class="container">
				<div class="col-xs-12 text-center">
					<% include results-view %>
					<button class="btn btn-default text-center go-back">Search Another Route</button>
				</div>
			</div>
		</div>

	</div>
</div>




</body>
</html>