<!DOCTYPE html>
<html>
<head>
	<title>cycSlope</title>

	<% include head %>
</head>
<body>

	<% include navbar %>

	<div class="container">
		<div class="col-xs-12 text-center logo">
			<img src="http://via.placeholder.com/300x150" />
		</div>
		<div class="search-area">
			<div class="col-xs-4 col-xs-offset-2">
				<input class="search-bar" type="text" placeholder="Start" />
			</div>
			<div class="col-xs-4">
				<input class="search-bar" type="text" placeholder="End" />
			</div>
		</div>
	</div>

</body>
</html>