<!DOCTYPE html>
<html>
<head>
	<title>cycSlope</title>

	<% include head %>
</head>
<body>

	<% include navbar %>
	<% include login-modal %>
	<% include register-modal %>

<div class="video-overlay">
	<div class="pages">


		<div class="page1">
			<div class="container">
				<div class="col-xs-12 text-center logo">
					<img src="../images/cycSlope_white.png" width="450px" />
				</div>
				<div class="col-xs-12 search-area">
					<div class="col-xs-4 col-xs-offset-2">
						<input class="search-bar" type="text" placeholder="Start" />
					</div>
					<div class="col-xs-4">
						<input class="search-bar" type="text" placeholder="End" />
					</div>
				</div>
				<div class="col-xs-12 text-center">
					<button class="btn-lg btn-default go-button">Let's Ride</button>
				</div>

				<video id="bgvid" playsinline autoplay muted>
					<source src="../videos/bike-bg.mp4" type="video/mp4">
				</video>

			</div>
		</div>

		<div class="page2">
			<div class="container">
				<div class="col-xs-12 text-center">
					<% include results-view %>
					<button class="btn btn-default text-center go-back">Search Another Route</button>
				</div>
			</div>
		</div>

	</div>
</div>




</body>
</html>