<!DOCTYPE html>
<html>
<head>
	<title>cycSlope User Profile</title>

	<% include head %>
</head>
<body>

	<% include navbar %>

	<div class="bg-overlay">
		<div class="bg-img">
			<img src="../images/video-static.png" />
		</div>
	</div>

</body>
</html>