<!-- Register Modal -->
<div class="modal fade" id="register-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Sign Up</h4>
            </div>
            <form action="/processRegister" method="post">
                <div class="modal-body">
                    <div class="row text-center">
                        <div class="col-sm-12 red-text text-center">
                            <% if(typeof(message != 'undefined')){ %>
                                <h3><%=message%></h3>
                            <% } %> 
                        </div>
                       
                        <div class="col-sm-12 input-section">
                            <div class="section-header col-xs-8 col-xs-offset-2">First Name:</div>
                            <div class="section-form">
                                <input type="text" name="firstName" placeholder="Enter your first name">
                            </div>
                        </div>

                        <div class="col-sm-12 input-section">
                            <div class="section-header col-xs-8 col-xs-offset-2">Username:</div>
                            <div class="section-form">
                                <input type="text" name="username" placeholder="Enter your username">
                            </div>
                        </div>

                        <div class="col-sm-12 input-section">
                            <div class="section-header col-xs-8 col-xs-offset-2">Email:</div>
                            <div class="section-form">
                                <input type="text" name="email" placeholder="Enter your email">
                            </div>
                        </div>

                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                Gender
                                <span class="caret"></span>
                            </button>
                                <ul class="dropdown-menu">
                                <li><a href="#">Male</a></li>
                                <li><a href="#">Female</a></li>
                                <li><a href="#">Unspecified</a></li>
                            </ul>
                        </div>

                        <div class="col-sm-12 input-section">
                            <div class="section-header col-xs-8 col-xs-offset-2">Password:</div>
                            <div class="section-form">
                                <input type="text" name="password" placeholder="Enter a password">
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button class="btn btn-success" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>