<!-- Register Modal -->
<div class="modal fade" id="register-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Register</h4>
            </div>
            <form action="/processRegister" method="post">
                <div class="modal-body">
                    <div class="row text-center">
                        <div class="col-sm-12 text-center">
                            <h1>Sign Up</h1>
                        </div>
                    <div class="col-sm-12 red-text text-center">
                        <% if(typeof(message != 'undefined')){ %>
                            <h3><%=message%></h3>
                        <% } %> 
                    </div>
                       
                        <div class="col-sm-12">
                            <input type="text" name="username" placeholder="Enter your name">
                        </div>
                        <div class="col-sm-12">
                            <input type="email" name="email" placeholder="Enter your email">
                        </div>
                        <div class="col-sm-12">
                            <input type="password" name="password" placeholder="Enter your password">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button class="btn btn-success" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>