<div class="result-box">
	<div class="result-1">
		<div class="result-map-1">
			<img src="http://via.placeholder.com/640x640" />
		</div>
	</div>
	<div class="result-2">
	</div>
	<div class="result-3">
	</div>
	<button class="btn btn-default go-back"><<< Try another search</button>
</div>