body {
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	overflow: hidden;
	background:
        /* top, transparent red, faked with gradient */
        linear-gradient(
          rgba(25, 29, 34, 0.65),
          rgba(25, 29, 34, 0.65)
        ),
        url('../images/video-static.png') no-repeat;
    background-size: cover;
}

.bg-overlay{
	background-color: rgba(25, 29, 34, 0.65);
	z-index: -50;
}

.bg-img{
	background: url('../images/video-static.png') no-repeat;
	background-size: cover;
	z-index: -100;
}

.navbar{
	position: fixed;
	z-index: 10;
	width: 100%;
	border-radius: 0px 0px 10px 10px;
}

.navbar-brand{
	padding: 5px 25px;
}

.pages{
	height: 300vh;
}

.page1{
	height: 100vh;
	width: 100vw;
	position: absolute;
	top: 0vh;
	transition: all 3s;
	margin-top: 100px;
}

.page2{
	height: 100vh;
	width: 100vw;
	position: absolute;
	top: 200vh;
	transition: all 3s;
	margin-top: 100px;
}

video { 
	position: fixed;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -100;
	transform: translateX(-50%) translateY(-50%);
	background: url("../videos/bike-bg.mp4") no-repeat;
	background-size: cover;
	transition: 1s opacity;
}

.video-overlay{
	background-color: rgba(25, 29, 34, 0.65);
	z-index: -50;
}

a {
  color: #00B7FF;
}

.menu-right{
	float: right;
}

.logo{
	margin-top: 50px;
	margin-bottom: 30px;
}

.search-bar{
	width: 300px;
	height: 40px;
	margin: 0px 10px;
}

.search-bars-div{
	margin-bottom: 20px;
}

.btn-default{
	border-radius: 10px;
}

.go-button, .go-back, .login-button, .submit-button{
	background-color: #055644;
	color: white;
	border-radius: 10px;
	border: #009E80 solid 1px;
}

.go-button:hover, .go-back:hover, .login-button:hover, .submit-button:hover{
	background-color: #009E80;
	color: white;
	border-radius: 10px;
	border: #055644 solid 1px;
}

.go-button:after, .go-back:after, .login-button:after, .submit-button:after{
	background-color: #A3A3A3;
	color: black;
	border-radius: 10px;
	border: #000 solid 1px;
}

.red-text{
    color: red;
}

/* --------REGISTER-MODAL-------- */

.input-section{
	display: block;
}

.section-header{
	text-align: left;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 50%;
}

.section-form{
	margin-top: 10px;
	margin-bottom: 10px;
}

input{
	width: 50%;
}

.radio-form{
	text-align: left;
	display: inline-block;
	width: 200px;
}
.radio-form input{
	width: 25px;
}


/* --------RESULTS-VIEW-------- */

.my-carousel{
	position: relative;
	height: 500px;
}

.carousel-inner{
	text-align: center;
}

.map-div{
	display: inline-block;
}

.carousel-caption, .carousel-caption ul{
	position: initial;
	padding: 0px;
}

.carousel-list{
	list-style: none;
	margin: 0px 20px;
}

.caption{
	margin-top: 20px;
	font-size: 18px;
}

.map, .elev-chart{
	border: 2px solid black;
	margin: 5px;
}

.map{
	margin-top: -320px;
}

.elev-chart {
	display: inline-block;
}

/* --------PROFILE VIEW-------- */

.main-profile-box{
	position: relative;
	border: 2px solid black;
	margin-top: 150px;
	color: white;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 50px;
}
.bg-profile-box{

}

.prof-pic{
	border: 2px solid black;
	margin: 10px;
	margin-left: 30px;
	height: 200px;
	width: 200px;
	border-radius: 10px;
}

.user-info-table{
	margin: 50px;
}
.prof-info-input{
	margin-left: 155px;
}

.user-info-area{
	margin-top: 30px;
	padding-bottom: 200px;
	font-size: 20px;
	margin-left: 155px;
}

.info-input, .info-output{
	margin-bottom: 10px;
}
.profile-header{
	text-decoration: underline;
}

.dropdown{
	position: relative;
}
.dropdown-menu {
  position: absolute;
  top: 100%; /* Bottom of button */
  right: 0;
  margin-left: 215px; /* More to the left */
  width: 25%;

}
