body {
  /* padding: 50px; */
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.menu-right{
	float: right;
}

.logo{
	margin-top: 50px;
	margin-bottom: 30px;
}

.search-bar{
	width: 300px;
	height: 40px;
}