body {
  /* padding: 50px; */
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

video { 
	position: fixed;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -100;
	transform: translateX(-50%) translateY(-50%);
	background: url("../images/bike-bg-static.jpg") no-repeat;
	background-size: cover;
	transition: 1s opacity;
}

a {
  color: #00B7FF;
}

.menu-right{
	float: right;
}

.logo{
	margin-top: 50px;
	margin-bottom: 30px;
}

.search-bar{
	width: 300px;
	height: 40px;
}